.ProductInfo {
  display: flex;
}

.ProductInfo_inner {
  width: calc(100% - 365.25px - 20px);
  margin-right: 20px;
}

.ProductInfo_inner p {
  font-size: 16px;
  margin-bottom: 12px;
}

.ProductInfo_inner div {
  font-size: 16px;
  margin-bottom: 12px;
}

.Image_wrapper {
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 12px;
}

.Image_wrapper img {
  width: 100%;
}

.Order_container {
  width: 365.25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Order_container > div select {
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
}

.Order_container > div button {
  font-size: 17px;
  margin-right: 6px;
  padding: 17px;
  background-color: #35c5f0;
  color: #fff;
}