.Product {
  display: flex;
  margin-bottom: 20px;
}

.Image_wrapper {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.Image_wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Image_wrapper img {
  position: absolute;
  width: 100%;
}

.Product > div:nth-of-type(2) {
  width: calc(50% - 20px);
  margin: 20px;
}

.Title_container {
  margin-top: 20px;
}

.Title_container p:nth-of-type(-n+2) {
  font-size: 22px;
  margin-bottom: 16px;
}

.Title_container p:nth-of-type(3) {
  font-size: 32px;
}

.Order_container {
  margin-top: 20px;
}

.Order_container select {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 16px;
  border-radius: 4px;
}

.Order_container > div button {
  font-size: 16px;
  margin-right: 8px;
  padding: 16px 32px;
  background-color: #35c5f0;
  color: #fff;
  border-radius: 4px;
}