.Product {
  display: flex;
  margin-bottom: 20px;
}

.Image_wrapper {
  width: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.Image_wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Image_wrapper img {
  position: absolute;
  width: 100%;
}

.Product > div:nth-of-type(2) {
  width: calc(50% - 20px);
  margin: 20px;
}

.Title_container {
  margin-top: 20px;
}

.Title_container p:nth-of-type(1) {
  color: #656e75;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.Title_container p:nth-of-type(2) {
  font-size: 22px;
  margin-bottom: 16px;
}

.Star_container {
  margin-bottom: 16px;
}

.Star_container svg {
  width: 16px;
  height: 16px;
  color: #35C5F0;
}

.Star_container p {
  display: inline-block;
  font-weight: bold;
  margin-left: 8px;
  color: #35C5F0;
}

.Price_container {
  margin-bottom: 16px;
}

.Price_container p:nth-of-type(1) {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.Price_container p:nth-of-type(2) {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
}

.Price_container p:nth-of-type(3) {
  margin-left: 8px;
  display: inline-block;
  font-size: 32px;
  font-weight: normal;
}

.Price_container > div {
  margin-left: 8px;
  display: inline-block;
  width: 100px;
}

.Price_container > div img {
  width: 100%;
}

.Info_container p {
  display: inline-block;
  margin-bottom: 8px;
}

.Info_container p span {
  margin-left: 8px;
  display: block;
}

.Order_container {
  margin-top: 20px;
}

.Order_container select {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 16px;
  border-radius: 4px;
}

.Order_container > div button {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
  padding: 16px 32px;
  background-color: #35c5f0;
  color: #fff;
  border-radius: 4px;
}