.Write {
  max-width: 900px;
  margin: 0 auto;
}

.Write form {
  width: 100%;
  display: flex;
}

.Input_container {
  width: 50%;
  position: relative;
  background-color: rgb(247, 249, 250);
}

.Input_container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Input_container > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Input_container > div p {
  margin-bottom: 8px;
}

.Input_container > div p:nth-of-type(1) {
  color: rgb(130, 140, 148);
  font-weight: bold;
}

.Textarea_container {
  width: calc(50% - 24px);
  margin: 0 12px;
}

.Textarea_container > textarea {
  width: 100%;
  height: 144px;
  box-sizing: border-box;
  padding: 16px;
  resize: none;
}
